<div id="map" style="width: 100%; height: 400px;"></div>
<% @jobs.each do |job| %>
<% if job.start_time > DateTime.now-1 %>
<div class="wrapper-grey">
  <div class="container">
    <div class="col-8-sm">
      <div class="jobs-panel">
        <div class="job-infos jobs-panel-item">
            <h4><%= job.title %></h4>
            <h5><%= job.user.company %></h5>
        </div>
        <div class="company-infos jobs-panel-item">
            <p><%= job.content %></p>
        </div>
        <div class="apply-infos jobs-panel-item">
          <div>
              <p><strong>Start:</strong> <%= job.start_time %>
              <p><strong>End:</strong> <%= job.end_time %></p>
          </div>
          <div class="apply-button">
            <%= button_to "Show détails", job_path(job.id), :method => :get, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
  <% end %>
<% end %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
