<H1><%= @job.title %></H1>

<p><%= @job.content %></p>

<ul>
  <li><%= @job.start_time%></li>
  <li><%= @job.end_time%></li>
  <li><%= @job.address%></li>
  <li><%= @job.user.company%></li>
</ul>

<%= link_to 'back to index', jobs_path %>
<br>
<% if @already_apply %>
<br>
<p>You already apply</p>
<% else %>
<%= button_to "Apply", job_applications_path(@job), class: "btn btn-primary btn-lg" %>
<% end %>


