<div class="container">

  <% if @job.start_time > DateTime.now-1 %>

    <H1><%= @job.title %></H1>
    <p><%= @job.content %></p>

    <ul>
      <li><%= @job.start_time %></li>
      <li><%= @job.end_time %></li>
      <li><%= @job.address %></li>
      <li><%= @job.user.company %></li>
    </ul>
  <% end %>
  <div class="container">
    <div class="form-inline input-form">
        <%= button_to "Back to index", jobs_path, class: "form-control btn btn-success active", :method => :get %>
        <%= button_to "Apply to this job", job_applications_path(@job), class: "form-control btn btn-primary active" %>
    </div>
  </div>
</div>
