<!-- Affichage pour les Employer -->
<% if current_user.user_type == "Employer" %>
  <h1> Jobs I Posted </h1>
  <% @jobs.each do |job| %>
    <%= link_to job.title, job_path(job)%> <br>
    <%= job.content %>
    <ul>
      <li><%= job.start_time%></li>
      <li><%= job.end_time%></li>
      <li><%= job.address%></li>
      <li>by <%= job.user.company%></li>
    </ul>
  <% end %>

<!-- Affichage pour les Job Seeker -->
<% else %>

  <h1> My applications </h1>
  <% @applications.each do |application| %>
    <h2> <%=  application.job.title %></h2> <br>
    <ul>
      <li><%= application.job.start_time%></li>
      <li><%= application.job.end_time%></li>
      <li><%= application.job.address%></li>
      <li>by <%= application.job.user.company%></li>
      <li><%= application.job.address%></li>
    </ul>
  <% end %>
<% end %>
