<H1>Hello <%= @user.first_name %> <%= @user.last_name %> !</H1>
<h2> Profile Information </h2>
<ul>
  <li>User_type : <%= @user.user_type %></li>
  <li>Skill : <%= @user.skill.name %></li>
  <li>Title : <%= @user.title %></li>
  <li>Bio : <%= @user.bio %></li>
  <li>CV : <%= @user.cv %></li>
  <li>Company : <%= @user.company %></li>
  <li>Website : <%= @user.website %></li>
</ul>

<%= link_to destroy_user_session_path, method: :delete do %>
<p>Log out</p>
<% end %>
