<H1>Hello <%= @user.first_name %> <%= @user.last_name %> !</H1>
<h2> Profile Information </h2>
<ul>
  <li>User_type : <%= @user.user_type %></li>
  <li>Title : <%= @user.title %></li>
  <li>Bio : <%= @user.bio %></li>
  <li>CV : <%= @user.cv %></li>
  <li>Company : <%= @user.company %></li>
  <li>Website : <%= @user.website %></li>
</ul>

<%= link_to "Edit Profile", edit_dashboard_user_path(current_user)%>

